:root{
    --bs-yellow: #fca311;
    --bs-blackish: #14213d;
}
/* body{

} */
.title-font{
    font-family: 'Quintessential', cursive;
}
.p-font{
    font-family: 'Signika Negative', sans-serif;
}
.header-font{
    font-family: 'Signika Negative', sans-serif;
    color: #14213d;
    letter-spacing: 1rem;
    background-color: #fca311;
}
.quote{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}
.navbar-toggler-icon{
    background-color: #fca311;
    border-radius: 7%;
}
.index-kep{
    width: 70%;
    
}
.quote{
    background-color: #fca311;
    color: black;
}
.bs-bug{
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("images/text-right.svg");
    border: none;
}
.btn-close{
    background-image: url("images/x-lg.svg");
    background-color: #fca311;
}
.btn-close:hover{
    border-radius: 100%;
    transition: 0.5s;
}
.btn-close:not(hover){
    border-radius: none;
    transition: 0.5s;
}
.offcanvas-body{
    background-color: #fca311;
}
.dropdown-menu{
    background-color: var(--bs-blackish);
}
.dropdown-item{
    color: #fca311;
}
.dropdown-item:hover{
    background-color: #fca311;
    color: #14213d;
    font-weight: bold;
    transition: 0.2s;
}
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    opacity: 60%;
    border-radius: 100%;
    background: #fca311c6;
    cursor: pointer;
  }
.back-to-top:hover{
    opacity: 100%;
    transition: 0.5s;
}
.back-to-top:not(hover){
    opacity: 60%;
    transition: 0.5s;
}
footer{
    background-color: #fca311;
    color: #14213d;
    font-weight: bold;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    text-align: left;
}