.title-font{
    font-family: 'Quintessential', cursive;
}
.p-font{
    font-family: 'Signika Negative', sans-serif;
}
:root{
    --bs-yellow2: #fca311;
}
.navbar-toggler-icon{
    background-color: #fca311;
    border-radius: 7%;
}
.index-kep{
    width: 200px;}